<div class="mt-5 px-5">
  <div class="text-blue-500 text-center">
    <!-- <button (click)="sendDataToChild()">Send Data to Child</button> -->


      <div class="flex justify-center">
        <div class="flex justify-around items-center w-full p-10 shadow-md border gap-5">
          <div class="w-1/2 p-5 border border-black rounded-md">
            <app-behaviour-child-one></app-behaviour-child-one>
          </div>

          <div class="w-1/2 p-5 border border-black rounded-md">
            <app-behaviour-child-two></app-behaviour-child-two>
          </div>
        </div>
      </div>
  </div>
</div>
