

<div class="shadow-md border">
  <div class="p-5">
    <p class="text-green-500">First Name: {{behaviour_obj.firstname}}</p>
    <p class="text-blue-500">Last Name: {{behaviour_obj.lastname}}</p>
    <p class="text-yellow-500">Age: {{behaviour_obj.age}}</p>
    <p class="text-orange-500">Email: {{behaviour_obj.email}}</p>
  </div>

  <div>
    <button class="border bg-gray-600 rounded-md mb-4 px-4" (onclick)="editData()">Edit</button>
    <button class="border bg-red-600 text-white rounded-md mb-4 px-4">Delete</button>
  </div>

</div>
