
<div class="flex p-3 bg-gray-700 shadow justify-center items-center">
  <nav class= "flex gap-10 mt-3 text-white font-semibold">
      <a class="hover:underline cursor-pointer" routerLink="">Home</a>
      <a class="hover:underline cursor-pointer" routerLink="/dashboard">Dashboard</a>
      <a class="hover:underline cursor-pointer" routerLink="/contact">Contact</a>
      <a class="hover:underline cursor-pointer" routerLink="/signup">Sign Up</a>
      <a class="hover:underline cursor-pointer" routerLink="/signin">Sign In</a>
      <a class="hover:underline cursor-pointer" routerLink="/templateForm">Template Driven Form</a>
      <a class="hover:underline cursor-pointer" routerLink="/reactiveform">Reactive Form</a>
      <a class="hover:underline cursor-pointer" routerLink="/Behaviour">Behaviour</a>
      <a class="hover:underline cursor-pointer" routerLink="/Pipe">Pipe</a>
      <a class="hover:underline cursor-pointer" routerLink="/event">Event</a>
  </nav>
</div>
