

<!-- <app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-card></app-card>
<app-footer></app-footer> -->
<!-- <app-contactapp></app-contactapp> -->



<!-- <app-landingpage></app-landingpage> -->
<!-- <div>
{{this.firstname}}
</div>
<div>
{{this.email}}
</div>
<div>
{{this.address}}
</div>
<div>
    {{this.obj1.lastname}}
</div> -->


<!-- <div>
    <p>{{this.array4[0].firstname}}
    {{this.array4[0].lastname}}
    {{this.array4[0].age}}
    {{this.array4[0].address}}
</p>
    <p>{{this.array4[1].firstname}}
    {{this.array4[1].lastname}}
    {{this.array4[1].age}}
    {{this.array4[1].address}}
</p>
</div> -->



<!-- <div *ngFor="let obj of array4, let i=index">
    <button (click)="checkindex(i)">Check Me</button>
    <p>{{obj.firstname}}</p>
    <p>{{obj.lastname}}</p>
</div>
<input type="text" class="{{firstStyling}}">
<div class="style1">
    Lorem ipsum dolor sit amet.
</div>
<div [style.color]="special?'red':'blue'" [style.background-color]="special?'black':'white'"[style.display]="special?'block':'none'">
Lorem ipsum dolor sit amet.
</div>
<button (click)="check()">
    Check
</button> -->
<router-outlet></router-outlet>
