<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<app-card></app-card>
<app-footer></app-footer>

<!-- <p>landingpage works!</p>
<input type="text" class="{{styles}}" [(ngModel)]="first_name" placeholder="first_name">
<input type="text" class="{{styles}}" [(ngModel)]="email" placeholder="lastname">
<input type="text" class="{{styles}}" [(ngModel)]="phone_number" placeholder="phone_number">
<input type="text" class="{{styles}}" [(ngModel)]="address" placeholder="address">
<input type="text" class="{{styles}}" [(ngModel)]="lastname" placeholder="lastname">
<input type="text" class="{{styles}}" [(ngModel)]="gender" placeholder="gender">
<button (click)="addContent()" class="{{buttonstyle}}">Add</button>
<div [style.display]="special?'none':'block'">
    {{this.first_name}}
    {{this.email}}
    {{this.phone_number}}
    {{this.address}}
    {{this.lastname}}
    {{this.gender}}
</div> -->
