<div class="flex justify-center mt-20">
    <div class="flex flex-col border p-6 text-center justify-center w-[50%]">
        <h2 class="text-2xl font-bold uppercase text-blue-800">
            Reactive Form
        </h2>

        <form [formGroup]="formOne" class="flex flex-col gap-4 ">
            <input class="border-b-2 border-r-2 p-3" 
                formControlName="firstName"
                type="text"
                placeholder="First Name">            

            <input class="border-b-2 border-r-2 p-3 outline-none focus:outline-blue-500" formControlName="lastName" type="text" placeholder="Last Name">

            <input class="border-b-2 border-r-2 p-3 outline-none focus:outline-blue-500" formControlName="password" type="password" placeholder="Password">

            <input class="border-b-2 border-r-2 p-3 outline-none focus:outline-blue-500" formControlName="email" type="email" placeholder="Email">

            <input class="border-b-2 border-r-2 p-3 outline-none focus:outline-blue-500" formControlName="address" type="text" placeholder="Personal Address">

            <button type="submit" class="px-5 py-2 bg-blue-700">Submit</button>
        </form>
    </div>
</div>